.form-new-staff-info {
    /*padding-left: 250px;*/
    /*padding-right: 250px;*/
}

.btn-update-schedule {
    margin-right: 10px;
}

.btn {
    margin-bottom: 10px;
}

td, th {
    text-align: center;
}

input.free-time-stuId {
    margin-bottom: 10px;
}

.checkbox-inline {
    margin-top: 0px;
}