.form-new-staff-info {
    /*padding-left: 250px;*/
    /*padding-right: 250px;*/
    margin-bottom: 20px;
}

.btn-update-schedule {
    margin-right: 10px;
}

.btn {
    margin-bottom: 10px;
}

td, th {
    text-align: center;
}

input.free-time-stuId {
    margin-bottom: 10px;
}

.checkbox-inline {
    margin-top: 0px;
}

.hidden-info {
    display: none;
}

input.edit-password {
    border-radius: 3px;
}

.input-group {
    margin-bottom: 20px;
}

.ask-change-table {
    margin-top: 30px;
}

textarea {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}
