<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/bootstrap-datepicker3.standalone.min.css" th:href="@{/css/bootstrap-datepicker3.standalone.min.css}"/>
    <link href="../static/css/service.css" th:href="@{/css/service.css}" rel="stylesheet" type="text/css"/>

    <!--<link href="../static/css/navbar-fixed-top.css" th:href="@{/css/navbar-fixed-top.css}" rel="stylesheet"/>-->

</head>

<body>

<div th:include="stu-navbar:: fixed-navbar (${stuId})"></div>

<div class="container">
    <div align="ce">

        <div>
            <br style="clear:both"/>
            <h3 style="margin-bottom: 25px; text-align: center;">Application for Temporary Leave</h3>
            <div class="row col-lg-8 col-lg-offset-2">
                <div class="col-lg-3">
                    <select class="form-control pre-scrollable department" title="department">
                        <option th:selected="selected" th:value="'-1'">select-department</option>
                        <option th:each="dpt: ${dpts}" th:value="${dpt.id}" th:text="${dpt.name}">dpt</option>
                    </select>
                </div>
                <div class="col-lg-3 col-lg-offset-1">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control input-datepicker" placeholder="mm/dd/yyyy"/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="col-lg-2 col-lg-offset-2">
                    <button type="button" class="btn btn-primary btn-block ask-change-find">find</button>
                    <a href="#" th:href="@{/student/service/{path}/ask-change(path=${stuId})}" class="btn btn-warning btn-block ask-change-reset">reset</a>
                </div>
            </div>
            <br/>
            <div class="row col-lg-10 col-lg-offset-1 ask-change-table" style="text-align: center">

            </div>
            <br/>
            <div class="row col-lg-4 col-lg-offset-4">
                <textarea class="form-control ask-change-comment" rows="5" placeholder="comment..."></textarea>
            </div>
            <br/>
            <div class="col-lg-2 col-lg-offset-5" style="text-align: center;margin-top: 20px">
                <button type="button" class="btn btn-primary" id="ask-change-submit">Submit</button>
            </div>

        </div>

    </div>
</div>

<div class="hidden-info">
    <p th:text="${stuId}" class="stuId"></p>
</div>

<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script src="../static/js/notify.min.js" th:src="@{/js/notify.min.js}"></script>
<script src="../static/js/stu-service.js" th:src="@{/js/stu-service.js}"></script>

</body>
</html>