<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/service.css" th:href="@{/css/service.css}" rel="stylesheet" type="text/css"/>

    <!--<link href="../static/css/navbar-fixed-top.css" th:href="@{/css/navbar-fixed-top.css}" rel="stylesheet"/>-->

</head>

<body>

<div th:include="stu-navbar:: fixed-navbar (${stuId})"></div>

<div class="container">
    <div align="ce">

        <div id="free-time-table-template">
            <br style="clear:both"/>
            <h3 style="margin-bottom: 25px; text-align: center;">Current Available Time</h3>
            <div class="row stu-freetime-table">
                <div class="col-lg-4 col-lg-offset-4">
                    <table class="table table-bordered free-time-table">
                        <thead>
                        <tr class="bg-info">
                            <th class="col-lg-3">WeekDay</th>
                            <th class="col-lg-9">Available Time Slots</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="info:${freeTimeInfos}" class="free-time-row">
                            <td th:text="${weekdayMap.get(info.weekday)}" class="free-time-weekday"></td>
                            <td>
                                <div th:each="slot:${info.timeSlots}" class="free-time-slot">
                                    <span th:text="${slot}">text</span>
                                    <input type="checkbox" class="checkbox-inline free-time-checkbox" th:value="${slot}"/>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row col-lg-4 col-lg-offset-4">
            <button type="button" class="btn btn-success col-lg-3 col-lg-offset-2 btn-free-time-add" data-toggle="modal" data-target="#model-1">Add</button>
            <button type="button" class="btn btn-danger col-lg-3 col-lg-offset-2 btn-free-time-delete" disabled="disabled">Delete</button>
        </div>
    </div>
</div>


<div class="modal fade" id="model-1" tabindex="-1" role="form" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Add New Time Slots
                </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <form action="#" th:action="@{/student/service/{path}/set-freetime/add(path=${stuId})}" th:object="${newFreeTimeForm}" method="post" role="form">
                    <h4>Weekday:</h4>

                    <select class="pre-scrollable" th:field="*{weekday}">
                        <option th:each="wk:${weekdayList}" th:value="${wk}" th:text="${weekdayMap.get(wk)} ">text</option>
                    </select>

                    <h4>Available Time Slot:</h4>
                    <input type="text" placeholder="hh:mm~hh:mm" th:field="*{timeSlot}" required="required"/>
                    <!--<div class="hidden-info" style="margin-bottom: 10px">-->
                        <!--<input type="text" th:value="${stuId}" th:field="*{stuId}" />-->
                    <!--</div>-->
                    <br/>
                    <div>
                        <button type="submit" class="btn btn-primary">submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="hidden-info">
    <p th:text="${stuId}" class="stuId"></p>
</div>

<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/notify.min.js" th:src="@{/js/notify.min.js}"></script>
<script src="../static/js/stu-service.js" th:src="@{/js/stu-service.js}"></script>

</body>
</html>